@* Textbox search component to find an item within a site by exact match *@
@using CollectorRegistry.Shared.ViewModels;
@inject IHttpClientFactory ClientFactory

@if(Site != null)
{
    <div>
        <div class="input-group">
            <input class="form-control" placeholder="@Site.SerialNumberHint" @bind="serialSearchText" />
            <button type="submit" class="btn btn-primary" @onclick="FindItem">Go!</button>
        </div>
    </div>

    <label>@serialSearchText</label>

    <div>
        @foundItem
    </div>
}

@code {
    [Parameter]
    public int SiteID { get; set; }

    [Parameter]
    public SiteViewModel? Site { get; set; }

    private string serialSearchText = String.Empty;
    private ItemViewModel? foundItem = null;

    protected override async Task OnInitializedAsync()
    {
        if(Site == null)
        {
            var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
            Site = await client.GetFromJsonAsync<SiteViewModel>("api/Site/" + SiteID);
        }
    }

    private async Task FindItem()
    {
        //await Task.Delay(1000);

        var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
        // GET: api/<ItemController>/siteID/find/searchText

        foundItem = await client.GetFromJsonAsync<ItemViewModel>("api/Item/" + SiteID.ToString() + "/find/" + serialSearchText);

    }
}
