@* Textbox search component to find an item within a site by exact match *@
@using CollectorRegistry.Shared.ViewModels;
@inject IHttpClientFactory ClientFactory

@if(Site != null)
{
    <div>
        <div class="input-group">
            <input class="form-control" placeholder="@Site.SerialNumberHint" @bind="serialSearchText" />
            <button type="submit" class="btn btn-primary">Go!</button>
        </div>
    </div>

    <label>@serialSearchText</label>
}

@code {
    [Parameter]
    public int SiteID { get; set; }

    [Parameter]
    public SiteViewModel? Site { get; set; }

    public string serialSearchText = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        if(Site == null)
        {
            var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
            Site = await client.GetFromJsonAsync<SiteViewModel>("api/Site/" + SiteID);
        }
    }

    private async Task FindItem()
    {
        await Task.Delay(1000);

    }
}
