@* Textbox search component to find an item within a site by exact match *@

<h3>SerialBox</h3>

@code {
    [Parameter]
    public int SiteID { get; set; }

    
    protected override async Task OnInitializedAsync()
    {

    }
}
