@page "/admin"
@using CollectorRegistry.Shared
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory

<PageTitle>Admin Panel</PageTitle>

<h1>Admin Panel</h1>

<p>Site managment, user management, etc.</p>


@code {

}
