@page "/"
@using CollectorRegistry.Shared
@inject IHttpClientFactory ClientFactory

<PageTitle>Collector Registry</PageTitle>

<h1>Collector Registry</h1>





<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
            forecasts = await client.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        }
        //catch (AccessTokenNotAvailableException exception)
        catch (Exception exception)
        {
            throw exception;
            //exception.Redirect();
        }
    }
}