@page "/"
@using CollectorRegistry.Shared
@using CollectorRegistry.Shared.ViewModels;
@inject IHttpClientFactory ClientFactory

<PageTitle>Collector Registry</PageTitle>

<h1>Collector Registry</h1>

@if(sites != null) {
    <ul>
    @foreach(var site in sites)
    {
        <li>@site.Title</li>
    }
    </ul>
    
}

@code {
    private SiteViewModel[]? sites;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
            sites = await client.GetFromJsonAsync<SiteViewModel[]>("api/Site");
        }
        catch (Exception exception)
        {
            throw exception;
        }
    }
}