@page "/site/{id:int}"
@using CollectorRegistry.Shared
@using CollectorRegistry.Shared.ViewModels;
@inject IHttpClientFactory ClientFactory

<PageTitle>Collector Registry</PageTitle>

@if (site != null)
{
    <div style="border-bottom: 4px solid @site.SecondaryColor">
    
        <h1 style="border-bottom: 4px solid @site.PrimaryColor">@site.Title</h1>

        <SerialBox SiteID="@site.SiteID"></SerialBox>

        <RandomEntry SiteID=@site.SiteID></RandomEntry>
    </div>
}

@code {
    private SiteViewModel? site;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
            site = await client.GetFromJsonAsync<SiteViewModel>("api/Site/" + id);
        }
        catch (Exception exception)
        {
            throw exception;
        }
    }
}