@page "/site/{id:int}"
@using CollectorRegistry.Shared
@using CollectorRegistry.Shared.ViewModels;
@inject IHttpClientFactory ClientFactory

<PageTitle>Collector Registry</PageTitle>

@if (site != null)
{
    <h1>@site.Title</h1>

    <RandomEntry SiteID=@site.SiteID></RandomEntry>
}

@code {
    private SiteViewModel? site;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("CollectorRegistry.AnonymousServerAPI");
            site = await client.GetFromJsonAsync<SiteViewModel>("api/Site/" + id);
        }
        catch (Exception exception)
        {
            throw exception;
        }
    }
}